*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

video {
    margin: 0 auto;
    max-width: 100%;
}
