*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 16px/2 'Open Sans', Helvetica, Arial, sans-serif;
    width: 100%;
}

#wrapper {
    max-width: 64%;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.captions {
    padding: 3px;
}

#video-container {
    height: auto;
    margin: 0 auto;
    position: relative;
}

#video-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 20px;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    -ms-transition: opacity .3s;
    transition: opacity .3s;
}

#video-container:hover #video-controls {
    opacity: .9;
}

button {
    background: rgba(0, 0, 0, 0);
    border: 0;
    color: #EEE;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

button:hover {
    cursor: pointer;
}

button #play-pause {
    height: 31px;
}

.icons {
    height: 31px;
}

progress[value] {
    width: 100%;
    cursor: pointer;
    height: 5px;
    left: 50%;
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
}

progress[value]::-webkit-progress-bar {
    border-radius: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
    background-color: rgba(255, 255, 255, 0.15);
}

#p {
    transition: all 0.3s ease-in;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 6px;
    z-index: 2;
}

#p:hover {
    cursor: pointer;
}

#p::-webkit-progress-value {
    background-color: #F29D39;
}

#p::-moz-progress-bar {
    background-color: #F29D39;
}

#video-container:hover #p {
    transform: translateY(-53px);
    -webkit-transform: translateY(-53px);
    -o-transform: translateY(-53px);
    -moz-transform: translateY(-53px);
    -ms-transform: translateY(-53px);
}

#video-container #video-controls {
    opacity: .9;
}

#video-container:hover #video-controls #play-pause, #video-container:hover #video-controls #mute, #video-container:hover #video-controls #volume-bar, #video-container:hover #video-controls #full-screen, #video-container:hover #video-controls #time {
    opacity: .9;
    transition: 0.25s ease-in;
}

#video-container #video-controls #play-pause, #video-container #video-controls #mute, #video-container #video-controls #volume-bar, #video-container #video-controls #full-screen, #video-container #video-controls #time {
    opacity: 0;
    transition: 0.25s ease-out;
}

#volume-bar {
    display: none;
}

#full-screen, #mute {
    float: right;
    margin: 0 1px;
}

#time {
    width: 120px;
    /* Make it fit just right into the end of the control bar. */
    color: white;
    font-size: .85em;
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 80px;
    right: 0;
}

.active {
    color: #F29D39;
}

.active:hover {
    color: rgba(242, 157, 57, .5);
}
